.list__wrapper {
  ul {
    width: 100%;
    margin-top: 30px;
    min-height: 500px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);

    .more {
      margin-left: auto;
      padding-left: 170px;
    }

    li {
      display: flex;
      align-items: center;
      background: #01265f;
      margin-top: 20px;
      padding: 14px;
      border-radius: 5px 5px 0 0px;
      margin: 0;
    }
    p {
      width: 230px;
      color: #ffffff;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #ffffff;
    }
    .list_item {
      background: #fff;

      p {
        width: 230px;
        font-family: "Inter";
        max-height: 20px;
        overflow: hidden;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.01em;
        color: #00072d;
      }
      img {
        cursor: pointer;
        margin-right: 21px;
        margin-left: auto;
      }
    }
    .list_item2 {
      background: rgba(0, 28, 175, 0.1);

      p {
        width: 230px;
        max-height: 20px;
        overflow: hidden;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.01em;
        color: #00072d;
      }

      img {
        cursor: pointer;
        margin-left: auto;
        margin-right: 21px;
      }
    }
  }

  .upd {
    width: 80px;
    height: 30px;
    color: #fff;
    border: none;
    background: #0ead33;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .dlt {
    background: #d21111;
    width: 80px;
    height: 30px;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}
.list__title {
  height: 40px;
  margin-bottom: 36px;
  left: 333px;
  top: 556px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.01em;
  color: #01265F;
}

.list__wrapper {
  margin-top: 84px;
  .list__header {
    display: flex;
    justify-content: space-between;
  }
  .absulute {
    position: relative;

    img {
      position: absolute;
      left: 12px;
      top: 13px;
    }
  }

  input {
    width: 320px;
    height: 48px;
    left: 346px;
    top: 217px;
    background: #ffffff;
    border: 1px solid rgba(47, 73, 209, 0.6);
    padding: 10px;
    padding-left: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 22px;
    outline: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}

.edit_input {
  margin-left: 30px;
  width: 200px !important;
  height: 35px !important;
  padding-left: 10px !important;
}
.box_editButton {
  display: flex;
  margin-left: auto;
  justify-content: space-between;
}

.edit_button {
  width: 70px;
  height: 35px;
  font-size: 14px;
  margin-left: 10px !important;
  margin: 0;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
}
